*{
    box-sizing: border-box;
    color:black;
}

.menu{
    background-color: rgb(112, 112, 112);
    height:800px;
    width:900px;
    padding: 10px;
}
.orders{
    width:30%;
    height:100%;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sections{
    display:flex;
    height:7%;
}
.sections>div{
    height:95%;
    width:33%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sections>div div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 59, 59);
    height:100%;
    width:95%;
    color:white;
    border-radius:.7em;
}
.sections>div div.selected{
    color:rgb(0, 0, 0);
    background: white;
}
.sections>div div+div.selected{
    height:0%;
    width:0%;
    border-radius: 0px;
    background: none;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid rgb(255, 255, 255);
    opacity:1;
    
}
.sections>div div+div{
    height:0%;
    width:0%;
    border-radius: 0px;
    background: none;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid rgb(255, 255, 255);
    opacity: 0;
}
.orders .screen{
    padding:5px;
    height:100%;
    
    background-color: rgb(65, 65, 65);
}
.statusLight{
    height:20px;
    width:20px;
    background-image: linear-gradient(161deg,rgb(0, 0, 0),rgb(0, 255, 51));
    border-radius: 50%;
}
.orders .screen p {
    padding:0;
    margin:0;
    margin-left: 5px;
    color:white;
}
.namebar{
    display: flex;
    align-items: center;
}
.pickedDrinks{
    margin:1%;
    margin-top: 3%;
    background-color: beige;
    height:60%;
}
.quantity{
    margin-top:5px;
    padding: 10px;
    background:linear-gradient(-45deg,rgb(254, 227, 140),white 90%);
    border:none;
    border-radius: 50%;
}
.screen .buttons{
    height:36%;
    
}
.screen .buttons div{
    height:50%;
}

.buttons div+div button{
    height:40%;
    margin: 2% 1%;
    width:30%;
    padding:0;
    border:1px solid black;
    border-radius: .5em;
}
.buttons div+div form{
    height:40%;
    margin: 2% 1%;
    width:30%;
    padding:0;
    border:1px solid black;
    border-radius: .5em;
}
.void{
    background: rgb(196, 46, 46);
    color:white;
}
.discount{
    background: beige;
}
.screen .buttons .LOCK{
    height:34%;
    width:20%;
    margin:2% 6%;
    border-radius: 50%;
    background: rgb(171, 37, 0);
}
.findOrder{
    background: green;
    color:white;
}
.menu{
    display:flex;
}
.itemSelection{
    width:70%;
}
.itemSelection .categories{
    display: flex;
    justify-content: space-evenly;
    height:7%;
}
.itemSelection .categories button{
    width:19%;
    height: 70%;
    padding: 0;
    background: rgb(97, 166, 97);
    border:2px solid rgb(11, 89, 4);
    border-radius: 50%;
}
.itemSelection .categories button.selected{
    width:19%;
    height: 70%;
    padding: 0;
    color:rgb(9, 102, 9);
    background: rgb(255, 255, 255);
    border:2px solid rgb(11, 89, 4);
    
}
.itemSelection .drinkPicker{
    height: 84%;
    width:100%;
    display:flex;
    flex-wrap: wrap;
}
.itemSelection .items{
    margin:0% 0% 0% 2%;
    height:90%;
    width:85%;
    background: rgb(255, 246, 204);
}
.itemSelection .customizations{
    width:13%;
    height:90%;
    
}
.itemSelection .drinkType{
    margin:0% 0% 0% 2%;
    width:85%;
    height:10%;
    
}
.customizations .shots{
    height:35%;
    width:100%;
}
.customizations>section{
    height:12%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left:none;
    margin-top: 6%;
    background: rgb(192, 180, 138);
    border-top-right-radius: .7em;
    border-bottom-right-radius: .7em;
}
.iceCheck{
    display:flex;
    justify-content: center;
    height:10%;
}
.iceCheck div{
    
    height:1em;
    width:1em;
    
    margin-right:10%;
    border:1px solid black;
}
.regular{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.regular div{
    border:1px solid black;
    width:60%;
    height:1.8em;
}
.drinkType{
    display: flex;
}
.drinkType div{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:.2% .5%;
    width:19%;
    background: rgb(192, 180, 138);
    height:80%;
    transform: perspective(14px) rotateX(-1deg);

    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


.items{
    
    display:grid;
    grid-template-columns: repeat(5, 18%);
    grid-template-rows: repeat(6,14%);
    grid-row-gap: 2%;
    grid-column-gap:2%;
    justify-content: center;
    align-content: center;
    
}
.items.espresso{
    grid-template-areas: 
    'a b c d .'
    'e f g h .'
    'i j k l m'
    '. . . . .'
    'n . . . .'
    'o p . . .'
    ;
}
.items.blended{
    grid-template-areas: 
    'a b c d .'
    'e f g h i'
    'j k l m .'
    'n o p q r'
    's . . . .'
    '. . . . .'
    ;
}
.items div {
    border-radius: .4em;
    border:1px solid black;
    display: flex;
    text-align: center;
    background-color: rgb(151, 96, 183);
    justify-content: center;
    align-items: center;
}
.items .toastedvanillaoatshakenespresso ~ div{
    background-color: rgb(223, 229, 114);
}
.items.espresso .cappuccino{
    background-color: rgb(211, 207, 186);
}
.items .cappuccino ~ div{
    background-color: rgb(224, 250, 251);
}
.items.espresso .caramelmacchiatto{
    background: rgb(151, 96, 183);;
}
.items.espresso .caramelmacchiatto~div{
    background: rgb(146, 132, 115);;
}
.items.blended div{
    background-color: rgb(201, 180, 153);;;
}
.items.blended .mochacookiecrumblefrappucino~div{
    background: rgb(224, 250, 251);
}
.items.blended div.blendedstrawberrylemonade{
    background-color: yellow;
}
.pickedDrinks div{
    width:100%;
    display:flex;
    justify-content: flex-start;
}

.pickedDrinks input, .pickedDrinks input:active,.pickedDrinks input:focus,.pickedDrinks input:focus-visible{
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   border:none;
   outline: none;
   background: none;
   width:auto;
   width:93.5%;
   
}
.pickedDrinks .sizeIdentifier{
    width:6.5%;
    padding: 0%;
}