*{
    box-sizing: border-box;
    color:black;
    font-size: 1.40vw;
}

body .menuWrapper{
    background-color: green;
    display:flex;
    position: relative;
    width: 100%;
    padding-top: 89%; /* 16:9 Aspect Ratio */
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}
div .menu{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    
    color: white;
    
}


body{
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#winOrLose.hidden{
    display:none;
}
#winOrLose.win{
        display: flex;
        top: 0;
        left: 0;
        background-color: rgb(112, 174, 68);
        width: 100%;
        height: 100%;
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10000;
}
#winOrLose.lose{
    display: flex;
    top: 0;
    left: 0;
    background-color: rgb(174, 68, 68);
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
}
#winOrLose div{
    padding: 3%;
    margin-bottom: 2%;
    border:1px solid black;
    border-radius: 1em;
    background-color:rgb(185, 202, 206);
}
#winOrLose div.hidden{
    display: none;
}
#winOrLose h1{
    font-size: 72px;
}
.menu .errorMessage.active {
    display: flex;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.234);
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.menu .errorMessage{
    display:none;
}
.errorBox{
    border:4px solid blue;
    border-radius: .7em;
    background-color: white;
    height:20%;
    width:50%;
}
.clearButtons{
    display:flex;
    justify-content: space-evenly;
    height:50%;
    align-items: center;
}
.clearButtons div{
    width:25%;
    text-align: center;
    border:1px solid grey;
    border-radius: .4em;
    background-color: rgb(178, 178, 178);
    height:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1em;
}
.errorBox p{
    display:flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    height:40%;
    width:100%;
    margin:0;
    padding: 20px;
}
.errorBox .clearError{

}


.menu .quantityForShots{
    display:none;
}
.menu .quantityForShots.active{
    display: flex;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.234);
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.quantityBox{
    width:30%;
    height: 50%;
    background-color: white;
    border:1em solid blue;
    border-radius: 1.2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.quantityNums{
    
    width:100%;
    height:60%;
    display:grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(4,15%);
    grid-row-gap: 5%;
    grid-column-gap:3%;
    justify-content: center;
    
}
.quantityNums div{
    display: flex;
    justify-content: center;
    border:1px solid black;
    align-items: center;
    border-radius: .2em;
    background: grey;
    
}
.displayAmount{
    height:40%;
    width:100%;
    padding-bottom: 16%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.displayAmount p {
    width:70%;
    height:3em;
    padding: 5% 0%;
    background-color: rgb(206, 206, 206);
    border:.5px solid black;
}


.menu{
    background-color: rgb(112, 112, 112);
     max-height:800px;
    max-width:900px; 
    padding: 10px;
}
.orders{
    width:30%;
    height:100%;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sections{
    display:flex;
    height:7%;
}
.sections>div{
    height:95%;
    width:33%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sections>div div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 59, 59);
    height:100%;
    width:95%;
    color:white;
    border-radius:.7em;
}
.sections>div div.selected{
    color:rgb(0, 0, 0);
    background: white;
}
.sections>div div+div.selected{
    height:0%;
    width:0%;
    border-radius: 0px;
    background: none;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-top: 1.1vw solid rgb(255, 255, 255);
    opacity:1;
    
}
.sections>div div+div{
    height:0%;
    width:0%;
    border-radius: 0px;
    background: none;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-top: 1.1vw solid rgb(255, 255, 255);
    opacity: 0;
}
.orders .screen{
    padding:5px;
    height:100%;
    
    background-color: rgb(65, 65, 65);
}
.statusLight{
    height:1.5vw;
    width:1.5vw;
    background-image: linear-gradient(161deg,rgb(0, 0, 0),rgb(255, 0, 0));
    border-radius: 50%;
}
.orders .screen p {
    padding:0;
    margin:0;
    margin-left: 5px;
    color:white;
}
.namebar{
    display: flex;
    align-items: center;
}
.pickedDrinks{
    margin:1%;
    margin-top: 3%;
    background-color: beige;
    height:60%;
    max-height:60%;
    overflow-y: scroll;
}
.quantity{
    background:linear-gradient(-45deg,rgb(254, 227, 140),white 90%);
    border:none;
    border-radius: 50%;
    height:40%;
    font-size: 1.4vw;
}
.screen .buttons{
    height:36%;
    
}
.screen .buttons>div{
    display:flex;
    flex-wrap: wrap;
    height:50%;
}

.buttons div+div button{
    height:40%;
    margin: 2% 1%;
    width:30%;
    padding:0;
    border:.1vw solid rgb(0, 0, 0);
    border-radius: .5em;
}

.void{
    background: rgb(196, 46, 46);
    color:white;
}
.discount{
    background: beige;
}
.screen .buttons .LOCK{
    height:5vw;
    width:5vw;
    margin:2% 6%;
    border-radius: 50%;
    background: rgb(171, 37, 0);
}
.findOrder{
    background: green;
    color:white;
}
.menu{
    display:flex;
}
.itemSelection{
    width:70%;
}
.itemSelection .categories{
    display: flex;
    justify-content: space-evenly;
    height:7%;
}
.itemSelection .categories button{
    width:19%;
    height: 70%;
    padding: 0;
    background: rgb(97, 166, 97);
    border:2px solid rgb(11, 89, 4);
    border-radius: 50%;
}
.itemSelection .categories button.selected{
    width:19%;
    height: 70%;
    padding: 0;
    color:rgb(9, 102, 9);
    background: rgb(255, 255, 255);
    border:2px solid rgb(11, 89, 4);
}
.drinkBuilder {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.drinkBuilder em{
    color:rgb(9, 102, 9);
    font-size: .8rem;
}
.itemSelection .drinkPicker{
    height: 84%;
    width:100%;
    display:flex;
    flex-wrap: wrap;
}
.itemSelection .items{
    margin:0% 0% 0% 2%;
    height:90%;
    width:85%;
    background: rgb(255, 246, 204);
}
.itemSelection .customizations{
    width:13%;
    height:90%;
    
}
.itemSelection .drinkType{
    margin:0% 0% 0% 2%;
    width:85%;
    height:10%;
    
}
.customizations input{
    font-size: small;
    text-align: center;
}
.customizations .shotsMenu{
    height:35%;
    width:100%;
}
.customizations>section{
    height:12%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left:none;
    margin-top: 6%;
    background: rgb(192, 180, 138);
    border-top-right-radius: .7em;
    border-bottom-right-radius: .7em;
}
.iceCheck{
    display:flex;
    justify-content: center;
    height:10%;
}
.iceCheck div{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border:none;
    outline: none;
    background: none;
    width:auto;
    height:1em;
    width:1em;
    margin-right:10%;
    border:.1vw solid black;
    font-size: 1.1em;
}
.regular{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.regular div{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border:none;
    outline: none;
    background: none;
    
    width:auto;
    border:.1vw solid black;
    width:50%;
    font-size: 1.1em;
    height:3vw
}
.customizations div div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.drinkType{
    display: flex;
}
.drinkType div{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:.2% .5%;
    width:19%;
    background: rgb(192, 180, 138);
    height:80%;
    transform: perspective(1vw) rotateX(-1deg);

    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.customizations .drinkName{
    color: white;
    background: transparent;
    margin-top: 100% !important;
}
.customizations .drinkName .drinkCheck{
    color:white;
}
.customizations .drinkName .drinkCheck input{
    background: rgb(192, 180, 138);
}

.items{
    
    display:grid;
    grid-template-columns: repeat(5, 18%);
    grid-template-rows: repeat(6,14%);
    grid-row-gap: 2%;
    grid-column-gap:2%;
    justify-content: center;
    align-content: center;
    
}

.items.espresso{
    grid-template-areas: 
    'a b c d .'
    'e f g h .'
    'i j k l m'
    '. . . . .'
    'n . . . .'
    'o p . . .'
    ;
}
.items.blended{
    grid-template-areas: 
    'a b c d .'
    'e f g h i'
    'j k l m .'
    'n o p q r'
    's . . . .'
    '. . . . .'
    ;
}
.items.shotsMenu{
    grid-template-areas: 
    'a . b c d'
    '. . . e f'
    'g h i j k'
    'l . . . m'
    'n . o p q'
    'r s t u v'
    ;
}
.items.shotsMenu div{
    background-color: #95d2e9;
}
.items.shotsMenu .blonde{
    background-color: #eac784;
}
.items.shotsMenu .blonde~div{
    background-color: rgb(169 150 110);
}
.drinkPicker .items.shotsMenu .single, .items.shotsMenu .single~div{
    background-color: rgb(178, 116, 199);
}
.drinkPicker .items.shotsMenu .affogatoshot{
    background: rgb(225 177 126);
}
.drinkPicker .items.shotsMenu .frappucinoroast{
    background: #a98977;;
}

.drinkPicker .items.shotsMenu .kids~div{
    background: #95dea9;;
}
.drinkPicker .items.shotsMenu .kids,.drinkPicker .items.shotsMenu .ristretto~div{
    background: #d7c54f;;
}
.items div {
    border-radius: .4em;
    border:.2vw solid black;
    display: flex;
    text-align: center;
    background-color: rgb(151, 96, 183);
    justify-content: center;
    align-items: center;
}
.items .toastedvanillaoatshakenespresso ~ div{
    background-color: rgb(223, 229, 114);
}
.items.espresso .cappuccino{
    background-color: rgb(211, 207, 186);
}
.items .cappuccino ~ div{
    background-color: rgb(224, 250, 251);
}
.items.espresso .caramelmacchiatto{
    background: rgb(151, 96, 183);;
}
.items.espresso .caramelmacchiatto~div{
    background: rgb(199, 159, 109);;
}
.items.blended div{
    background-color: rgb(201, 180, 153);;;
}
.items.blended .mochacookiecrumblefrappucino~div{
    background: rgb(224, 250, 251);
}
.items.blended div.blendedstrawberrylemonade{
    background-color: yellow;
}
.items.brewed{
    grid-template-areas: 
    'a b c d .'
    'e f g h i'
    'j k l m .'
    'n o p . .'
    '. . . . q'
    'r s t u v'
    ;
}
.items.brewed div,.drinkPicker .items.brewed div.pikeplaceroast{
    background-color: #a58e81;
}
.items.brewed div.pouroverdarkroast, .drinkPicker .items.brewed div.darkroast{
    background-color: rgb(188, 154, 188);
}
.items.brewed div.pouroverblonderoast,.drinkPicker .items.brewed div.blonderoast{
    background-color: #eac784;
}
.items.brewed div.pouroverblonderoast~div,.drinkPicker .items.brewed div.decafpikeplaceroast{
    background: #6cb8d4;
}
.items.brewed div.icedcoffeerefill~div{
    background: #a1d5e8;
}
.items.brewed div.chocolatecreamcoldbrew~div{
    background-color: #baad9d;
}

/*###################################### */
/* Tea Design Properties :*/
/*###################################### */
.items.tea{
    
    display:grid;
    grid-template-columns: repeat(5, 18%);
    grid-template-rows: repeat(6,14%);
    grid-row-gap: 2%;
    grid-column-gap:2%;
    justify-content: center;
    align-content: center;
    
}
.items.tea{
    grid-template-areas: 
    'a b c d e'
    'f g h i j'
    'k l m n o'
    '. . . . .'
    'p q r . .'
    's t u v w'
    ;
}


.items.tea div {
    background-color:#ebe1a2;
}
.items.tea div+div {
    background-color:#aedd88;
}
.items.tea div+div+div {
    background-color:#bbae8a
}
.items.tea div+div+div+div+div {
    background-color:#d0d16d
}
.items.tea .customtealatte~div {
    background-color:#6cb8d4;
}
.items.tea .customicedtea~div {
    background-color:#ece93b;
}
.items.tea .customtealemonade~div {
    background-color:#bbae8a;
}
.items.tea .chaitea~div {
    background-color:#aae6ba;
}
.items.tea div.honeycitrusminttea  {
    background-color:#efed93;
}

.pickedDrinks div{
    width:100%;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.customerArea{
    text-align: center;
}
.pickedDrinks div div{
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   border:none;
   outline: none;
   background: none;
   width:auto;
   width:77.5%;
   
}
.pickedDrinks .sizeIdentifier{
    width:6.5%;
    padding-right: 1.2em;
}
.selected{
    background: #95d2e9;
}
.pickedDrinks .modifier{
    width:100%;
    padding-left: 10%;
}
.extras{
    display:flex;
    justify-content: space-evenly;
    
    height:10.5%;
    width:100%;
    margin-left: 2%;
    align-items: flex-start;
}
.extras div{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 1em;
    
    background-image: linear-gradient(rgb(118, 118, 118),rgb(56, 48, 48)40%);
    width:15.666%;
    border: 1px solid black;
    border-radius: 10%;
    height:90%;
}
.extras div.hidden{
    opacity: 0;
}
.extras .nextDrink.active{
    background-image: linear-gradient(rgb(158, 185, 136),green 40%);
}
.icedArea{
    padding-right:.2em;
}
@media only screen and (min-width: 900px) {
    *{
        font-size: initial;
        border-width: 1px;
    }
    .screen .buttons .LOCK {
        margin:1% 4%;
        height:45%;
        width:24%;
    }
    .items div{
        border-width: 1px;
    }
    .regular div{
        height: 28px;
        font-size: .7em;
    }
    .quantity{
        font-size: 1em;
    }
    body .menuWrapper{
            height: 800px;
            background-color: green;
            display: flex;
            position: relative;
            width: 900px;
            padding-top: 0;
            border: 10px solid black;
        
    }
    body{
        margin:0;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .sections>div div+div.selected {
        height: 0%;
        width: 0%;
        border-radius: 0px;
        background: none;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 12px solid rgb(255, 255, 255);
        opacity: 1;
    }
    .sections>div div+div {
        height: 0%;
        width: 0%;
        border-radius: 0px;
        background: none;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 12px solid rgb(255, 255, 255);
        opacity: 0;
    }
    .statusLight{
        width: 1.2em;
        height:1.2em;

    }
    
  }

footer.hidden{
    display:none;
}
.drinkType .cats.hidden{
    display:none
}